.skills {
    position: relative;
    
    margin-bottom: 6rem;

    
        
        &__photo {
            width: 7%;
            
            // box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
            // border-radius: 1px;
            position: absolute;
            // z-index:10 ;
            transition: all .2s;
            // outline-offset: 1rem;

            @include respond (tab-port) {
                margin-top: 5rem;                           
            }
    
            &--p1 {
                left: 0;
                top: -4rem;
            }
    
            &--p2 {
                left: 12.5% ;
                top:-4rem;
            }
    
            &--p3 {
                left: 25%;
                top: -4rem;
            }
            &--p4 {
                left: 37.5%;
                top: -4rem;
            }
            &--p5 {
                left: 50%;
                top: -4rem;
            }
            &--p6 {
                left: 62.5%;
                top: -4rem;
            }
            &--p7 {
                left: 75%;
                top: -4rem;
            }
            &--p8 {
                left: 84.5%;
                top: -4rem;
            }
            &--p9 {
                left: 0;
                top: 7rem;
            }
            &--p10 {
                left: 12.5%;
                top: 7rem;
            }
            &--p11 {
                left: 25%;
                top: 7rem;
                
            }
            &--p12 {
                left: 37.5%;
                top: 7rem;
                
            }
            &--p13 {
                left: 50%;
                top: 7rem;
            }
            &--p14 {
                left: 62.5%;
                top: 7rem;
            }
            &--p15 {
                left: 75%;
                top: 7rem;
            }
            &--p16 {
                left: 84.5%;
                top: 7rem;
            }

            &:hover {
                // outline:.5rem solid $color-primary ;
                transform: scale(1.2);
                // box-shadow:0 2.5rem 4rem rgba($color-black, .5);
                // z-index: 20;
            }
        }
    
       
    
}