.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-projects {
  padding: 20rem 0 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    ),
    url(../img/pexels-lukas-574071.jpg);
  background-size: cover;

  transform: skewY(-4deg);
  margin-top: -6rem;

  & > * {
    transform: skewY(4deg);
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-works {
  position: relative;
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}
